<!DOCTYPE html>
<html>
	<head>
		<title>
	 		My Food Blog
		</title>
	</head>

	<body>

	<div class="header2">
		Battle of the Boroughs
	</div>

	<div class="header">
		<header><br>
			<nav>
				<ul>
					<li><%= link_to 'Home', root_path %><li>
					<li><%= link_to 'Create an Account', new_user_path %></li>
					<li><%= link_to 'Log in', new_session_path %></li>
				</ul>
			</nav>
		</header>
	</div>

	<div class="logos">

		<div class="logo1">
			Cook 
		</div>

		<div class="logo2">
			Create
		</div>

		
		<div class="logo3">
			Share
		</div>

	</div>
		
		<div class="header2">

				
			<div class="followers">

				<div class="profile1">
					
				</div>
				

				<div class="profile2">
					
				</div>
				
				
				<div class="profile3">
				
				</div>

			</div>


<div class="main">

	<div class="col1">

				<div class="javier1">
				<img src="<%= asset_path ( 'flan.jpg' ) %>"/>
				</div>

				<div class="javier2">
				<img src="<%= asset_path ( 'bacon_wrapped_shrimp.jpg' ) %>"/>
				</div> 

				<div class="javier3">
				<img src="<%= asset_path ( 'columbian_chicken.jpg' ) %>"/>
				</div>

				<div class="javier4">
					<img src="<%= asset_path ( '4379747898_bb7bd01a78.jpg' ) %>"/>
				</div>

				<div class="javier5">
				<img src="<%= asset_path ( 'brevas_calados.jpg' ) %>"/>
				</div>

				<div class="javier6">
				<img src="<%= asset_path ( 'sweet_potato_tostadas.jpg' ) %>"/>
				</div>

				
	</div>

	<div class="col2">
				
				<div class="mandy1"> 
				<img src="<%= asset_path ( 'DSC_0987.JPG' ) %>"/>
				</div>

				<div class="mandy2">
				<img src="<%= asset_path ( 'DSC_1201.JPG' ) %>"/>	
				</div>

				<div class="mandy3">
				<img src="<%= asset_path ( 'turkey_lettuce_wraps.jpg' ) %>"/>
				</div>


				<div class="mandy4">
				<img src="<%= asset_path ( 'brownsburg_brownie.jpg' ) %>"/>
				</div>

				<div class="mandy5">
				<img src="<%= asset_path ( 'brownsburg_brownie.jpg' ) %>"/>
				</div>

				<div class="mandy6">
				<img src="<%= asset_path ( 'brownsburg_brownie.jpg' ) %>"/>
				</div>

			
	</div>

		
	<div class="col3">
	
			<div class="jerome1">
			<img src="<%= asset_path ( 'brownsburg_brownie.jpg' ) %>"/>
			</div>

			<div class="jerome2">
			<img src="<%= asset_path ( 'brownsburg_brownie.jpg' ) %>"/>
			</div>

			<div class="jerome3">
			<img src="<%= asset_path ( 'brownsburg_brownie.jpg' ) %>"/>
			</div>


			<div class="jerome4">
			<img src="<%= asset_path ( 'brownsburg_brownie.jpg' ) %>"/>
			</div>

			<div class="jerome5">
			<img src="<%= asset_path ( 'brownsburg_brownie.jpg' ) %>"/>
			</div>

			<div class="jerome6">
			<img src="<%= asset_path ( 'brownsburg_brownie.jpg' ) %>"/>
			</div>
	</div>

</div>
</div>

	</body>